server:
  port: 8084

spring:
  application:
    name: order-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/multi_vendor
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 10

  jpa:
    properties:
      hibernate:
        default_schema: order_schema
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    org.hibernate.SQL: DEBUG
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

gateway:
  url: http://localhost:8080
